<ng-container *ngIf="me$ | async as me">
  <div class="w-32 h-32 border border-gray-100 overflow-hidden">
    <img [src]="me.photoURL | safeUrl" [alt]="me.displayName" class="object-center object-cover w-full h-full">
  </div>

  <div>
    <h2 class="flex items-center space-x-2 text-lg font-bold">
      <span>{{ me.displayName }}</span>
      <i class="fa-light fa-check-circle text-green-700" title="Verified" *ngIf="me.emailVerified"></i>
      <i class="fa-light fa-star text-green-700" title="Approved" *ngIf="me.approved"></i>
    </h2>
    <p>{{ me.email }}</p>
  </div>

  <section class="grid gap-6">
    <div *ngFor="let menuGroup of menuGroups">
      <ng-container *ngIf="me[menuGroup.shown]">
        <h3 class="text-2xl font-bold mb-2">{{ menuGroup.title }}</h3>

        <div class="grid gap-2 grid-cols-3 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-10">
          <ng-container *ngFor="let menu of menuGroup.menus">
            <a *ngIf="me[menu.shown]" [routerLink]="[menu.url]">
              <button class="bg-gray-100 p-4 w-full aspect-square flex flex-col items-center justify-center gap-2">
                <i class="text-4xl fa-thin fa-{{menu.icon}}"></i>
                <span class="text-sm">{{ menu.title }}</span>
              </button>
            </a>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </section>
</ng-container>
